<div class="section section-buttons">
    <div class="container">
        <div class="tim-title">
            <div class="typography-line">
            <h2>Intro</h2>
            </div>
        </div>
        <div id="typography">
            <div class="row">
                <div class="typography-line">
                    <h4>
                        Vampire Wars is a play to earn in-browser blockchain strategy game.
                    </h4>
                </div>
                <div class="typography-line">
                    <h4>
                        Players own and control Vampires of different class, rarity and level, hunt, battle, and join alliances, aiming to grow their territory influence, power, and control over the human population.
                    </h4>
                </div>
                <div class="typography-line">
                    <h4>
                        The game is based in current times, on a virtual 1:1 version of Earth - The Meta Space.
                    </h4>
                </div>
                <div class="typography-line">
                    <h4>
                        Players can:
                    </h4>
                </div>
                <div class="typography-line">
                    <h4>
                        • Purchase and create their own Vampire characters as NFTs, Castles, Crypts, and Artifacts as in-game assets <br/>
                        • Create strategies to conquer new territories, grow their resource supply and upgrade all their Assets<br/>
                        • Create & Join Clans, develop strategies for territory control, economical policies and influence growth (DAO)<br/>
                        • Trade assets and resources on the in-game marketplace<br/>
                    </h4>
                </div>
            </div>
        </div>

        <div class="tim-title">
            <div class="typography-line">
            <h2>The Story</h2>
            </div>
        </div>
        
            
        <div id="typography">
            <div class="row">
                <div class="typography-line">
                    <h4>
                        It is December 2021.
                    </h4>
                </div>
                <div class="typography-line">
                    <h4>
                        6.666 Vampires were resurrected after in 1900 AD all vampires in the world were exterminated and the 666 Originals were put to sleep. 
                    </h4>
                </div>
                <div class="typography-line">
                    <h4>
                        Ancient: The Original Vampires. 666 in total. Ghoulish grotesque creatures, they are mostly naked, big teeth, hands with claws, very skinny and can see bones beneath the skin. The Originals couldn’t be killed, they were only asleep when the unknown event happened in 1900. 
                    </h4>
                </div>
                <div class="typography-line">
                    <h4>
                        6000 Vampires that were killed in the Vampire Wars taking place during different periods in earth’s history were also resurrected.
                    </h4>
                </div>
                <div class="typography-line">
                    <h4>
                        Classical: Rusty armours, they are also monstrous but hey have “more human” looking body and their stances are still savage, but more straight. Their armour does not always cover all of their body.
                    </h4>
                </div>
                <div class="typography-line">
                    <h4>
                        Medieval Era Warriors. European knights, Vikings, and crusaders. Their armour is strong and covers most of their body. Their stances are straight and confident. 
                    </h4>
                </div>
                <div class="typography-line">
                    <h4>
                        Renascent: They are different, they can be noblemen, traders, priests, scholars, musketeers.
                    </h4>
                </div>
                <div class="typography-line">
                    <h4>
                        They look for Crypts and Castles to restore their power so they can hunt again.
                    </h4>
                </div>
                <div class="typography-line">
                    <h4>
                        Even if so many years have passed, thousands for many, they sense the presence of old weapons and artifacts. So they must travel, hunt, and explore the new Earth to find it. And then, restore the great Clans and reclaim the world.
                    </h4>
                </div>
            </div>
        </div>
            
        
         
    </div>
</div>
