<div class="section section-buttons">
    <div class="container">
        <h2 class="title">Intro</h2><br />
        <p> 
            <span class="description-normal">
                Vampire Wars is a play to earn in-browser blockchain strategy game.
            </span> 
        </p> <br />
        <p> 
            <span class="description-normal">
                Players own and control Vampires of different class, rarity and level, hunt, battle, and join alliances,
                aiming to grow their territory influence, power, and control over the human population.
            </span> 
        </p> <br />
        <p> 
            <span class="description-normal">
                The game is based in current times, on a virtual 1:1 version of Earth - The Meta Space.
            </span> 
        </p> <br />
        <p> 
            <span class="description-underline">
                Players can:
            </span> 
        </p> <br />
        <p> 
            <span class="description-normal">
                • Purchase and create their own Vampire characters as NFTs, Castles, Crypts, and Artifacts as in-game
                assets <br />
                • Create strategies to conquer new territories, grow their resource supply and upgrade all their
                Assets<br />
                • Create & Join Clans, develop strategies for territory control, economical policies and influence
                growth (DAO)<br />
                • Trade assets and resources on the in-game marketplace<br />
            </span> 
        </p> <br />

        <h2 class="title">The Story</h2><br />

        <p>
            <span class="description-normal">
                It is December 2021.
            </span>
        </p> <br />
        <p> 
            <span class="description-normal">
                6.666 Vampires were resurrected after in 1900 AD all vampires in the world were exterminated and the 666
                Originals were put to sleep.
            </span> 
        </p> <br />
        <p>
            <span class="description-underline">
                Ancient:
            </span>
            <span class="description-normal">
                The Original Vampires. 666 in total. Ghoulish grotesque creatures, they are mostly naked, big teeth,
                hands with claws, very skinny and can see bones beneath the skin. The Originals couldn’t be killed, they
                were only asleep when the unknown event happened in 1900.
            </span>
        </p> <br />
        <p>
            <span class="description-normal">
                6000 Vampires that were killed in the Vampire Wars taking place during different periods in earth’s
                history were also resurrected.
            </span>
        </p> <br />
        <p>
            <span class="description-underline">
                Classical:
            </span>
            <span class="description-normal">
                Rusty armours, they are also monstrous but hey have “more human” looking body and their stances are
                still savage, but more straight. Their armour does not always cover all of their body.
            </span>
        </p> <br />
        <p> 
            <span class="description-normal">
                Medieval Era Warriors. European knights, Vikings, and crusaders. Their armour is strong and covers most
                of their body. Their stances are straight and confident.
            </span> 
        </p> <br />
        <p> 
            <span class="description-underline">
                Renascent:
            </span>
            <span class="description-normal">
                They are different, they can be noblemen, traders, priests, scholars, musketeers.
            </span> 
        </p> <br />
        <p> 
            <span class="description-normal">
                They look for Crypts and Castles to restore their power so they can hunt again.
            </span> 
        </p> <br />
        <p> 
            <span class="description-normal">
                Even if so many years have passed, thousands for many, they sense the presence of old weapons and
                artifacts. So they must travel, hunt, and explore the new Earth to find it. And then, restore the great
                Clans and reclaim the world.
            </span> 
        </p> <br />

    </div>
</div>