<div class="wrapper">
    <div class="page-header section-dark" [ngStyle]="{'background-image': myImageName }">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/vw-logo.png" alt="">
                    </div>
                    <h1 class="presentation-title">Vampire Wars</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">They are now awake.</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        
    </div>
    <div class="main">
      <app-basicelements></app-basicelements>
      
      
     
        <div class="section section-dark section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <div class="icons-container">
                            <i class="nc-icon nc-time-alarm" hidden=true></i>
                            <i class="fa fa-instagram" onClick="window.open('https://www.instagram.com/vampirewars')" ></i>
                            <i class="nc-icon nc-camera-compact" hidden=true></i>
                            <i class="fa fa-facebook-official" onClick="window.open('https://www.facebook.com/vampirewars')"></i>
                            <i class="nc-icon nc-key-25" hidden=true></i>
                            <i class="nc-icon nc-user-run"></i>
                            <i class="nc-icon nc-diamond" hidden=true></i>
                            <i class="nc-icon nc-layout-11" hidden=true></i>
                            <i class="fa fa-twitter" onClick="window.open('https://twitter.com/vampirewars')" ></i>
                            <i class="nc-icon nc-bulb-63" hidden=true></i>
                            <i class="nc-icon nc-favourite-28" hidden=true></i>
                            <i class="nc-icon nc-planet" hidden=true></i>
                            <i class="nc-icon nc-tie-bow" hidden=true></i>
                            <i class="nc-icon nc-zoom-split" hidden=true></i>
                            <i class="nc-icon nc-cloud-download-93" hidden=true></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
